<table>
  <thead>
    <tr>
      <th>Name</th>
      <%# course_idは不要 %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% participants.each do |participant| %>
      <tr>
        <td><%= participant.name %></td>

      </tr>
    <% end %>
  </tbody>
</table>
